.izapWrapper {
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	border: solid #dcdcdc 1px;
	background: white;
	margin: 4px;
	padding:4px;
}

.izapWrapperOnline {
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	border: solid #dcdcdc 1px;
	background: #A4DA89;
	margin: 4px;
	padding:4px;
}

.izapWrapperFriend {
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	border: solid #dcdcdc 1px;
	background: #4690D6;
	margin: 4px;
	padding:4px;
}
